body { background-color:#eeeeee; }

#wrapper { width:900px; margin:0px auto; background-image:url('../images/web image gallery/topo3.png'); background-attachment:fixed; }

#top { background-image:url('800x518_Vector-Topographic-Map-Contours-Preview-1.jpg'); background-attachment:fixed; width:100%; padding:20px 0; overflow:hidden; }

#logo { margin:0 0 0 10px; float:left; }

#social-media {float:right; margin:0px 10px 0 0px; }
#social-media p {color: #000000; font-size:11px; font-family:"Franklin Gothic Book"; margin:4px 10px 4px 39px; }
#social-media img { width:25px; height:25px; margin:0px 10px 0 0; }
#social-media ul li { display:inline; }

#social-media a:hover {color:#FFFFFF; display:table-cell; }
#social-media a:active {color:black;  } 

#topnav { background-color:gray; clear:both; }
#topnav ul {width:860.4px; margin-top:0px; margin-bottom:0px; background-color:#B6B6B4; float:left;
				border-bottom:3px #fffffc solid; }
				
#topnav ul li {display:inline; }
#topnav ul li a {float:left; padding:10px 20px; }

#topnav a:link {color:black; }
#topnav a:visited {color:black;}
#topnav a:active {color:black;}
#topnav a:hover {color:black; background-image:url('800x518_Vector-Topographic-Map-Contours-Preview-1.jpg'); } 
#topnav a:focus {color:black;}

#jssummary { 
	font-family:"Franklin Gothic Book"; 
	font-weight:lighter; 
	padding-left:45px; 
	padding-right:40px; 
	padding-top:35px; 
	padding-bottom:50px; 
	background-image:url('../images/web image gallery/topo2.png');
	/*('800x518_Vector-Topographic-Map-Contours-Preview-1.jpg');*/ 
	background-attachment:fixed; 
	}

#jssummary h1 { 
	padding-top:40px; 
	padding-bottom:50px; 
	font-family:"Franklin Gothic Medium";
	font-size:21px; 
	font-weight:900; 
	}
#jssummary h3 { 
	font-family:"Franklin Gothic book"; 
	font-weight:500; 
	font-size:21px; 
	}

#philosophy { 
	padding-bottom:20px; 
	margin-top:45px; 
	}
#philosophy h2 { 
	font-family:"Franklin Gothic book"; 
	border-bottom:1px #B6B6B4 solid; 
	text-align:right; 
	margin-top:auto;
	padding-top:50px; 
	padding-right:10px; 
	margin-left:100px;
	}
#philosophy p { 
	font-family:"Franklin Gothic book"; 
	font-weight:500; 
	font-size:21px; 
	text-align:left; 
	padding-right:10px; 
	margin-left:10px; 
	padding-top:30px; 
	height:70px; 
	height:90px; 
	}
#philosophy ul li {
	display:inline; 
	}

/*#additional {
	display:block;
	}
#additional ul li {display:block; list-style-type: none;}*/

#clients { 
	padding-bottom:20px; 
	margin-top:45px; 
	}
#clients h2 { 
	font-family:"Franklin Gothic book"; 
	border-bottom:1px #B6B6B4 solid; 
	text-align:right; 
	margin-top:auto;
	padding-top:50px; 
	padding-right:10px; 
	margin-left:100px;
	}
#clients p { 
	font-family:"Franklin Gothic book"; 
	font-weight:200; 
	font-size:21px; 
	text-align:left; 
	padding-right:10px; 
	margin-left:10px; 
	padding-top:30px; 
	height:70px; 
	height:90px; 
	}
#clients ul li {
	display:inline; 
	}

#services { 
	padding-bottom:20px; 
	margin-top:45px; 
	}
#services h2 { 
	font-family:"Franklin Gothic book"; 
	border-bottom:1px #B6B6B4 solid; 
	text-align:right; 
	margin-top:auto;
	padding-top:50px; 
	padding-right:10px; 
	margin-left:100px;
	}
#services p { 
	font-family:"Franklin Gothic book"; 
	font-weight:500; 
	font-size:21px; 
	text-align:left; 
	padding-right:10px; 
	margin-left:10px; 
	padding-top:30px; 
	height:70px; 
	height:90px; 
	}
#services ul li {
	display:inline; 
	}
#layers ul li 

#history { padding-bottom:0px; padding-top:15px; }
#history h2 { font-family:"Franklin Gothic book"; border-bottom:1px #B6B6B4 solid; padding-left:10px; margin-right:140px; padding-top:35px; }
#history p { font-family:"Franklin Gothic book"; font-weight:500; font-size:21px; padding-left:10px; padding-top:30px;  width:706px; height:140px; margin-bottom:0px; }
#history img { float:right; padding-right:30px; padding-left:20px; padding-top:29px; }


#aboutus { padding-bottom:10px; }
#aboutus h2 { text-align:right; font-family:"Franklin Gothic book"; border-bottom:1px #B6B6B4 solid; margin-left:100px; padding-right:10px; margin-top:0px; padding-top:0px; }
#aboutus p { font-family:"Franklin Gothic book"; font-weight:500; font-size:21px; padding-left:10px; margin-left:50px; padding-right:15px; padding-top: 25px; height:200px; }


#certify h2 { border-top:1px #B6B6B4 solid; margin-right:100px; padding-top:25px; padding-left:10px; font-family:"Franklin Gothic Book"; } 
#certify ul li { padding-left:10px; }
#certify p { padding-left:35px; font-family:"Franklin Gothic Book"; font-size:21px; }
#certify img { padding-left:40px; }
#certify ul { padding-left:0px; }
#certify ul li { font-family:"Franklin Gothic Book"; font-size:21px; display:inline; }

#padding img { padding-left:40px; padding-bottom:25px; }

#banner { background-color:#B6B6B4; padding:0 0; margin:0 0; }
#banner ul { width:100%; height:auto; }

#subbanner { background-color:gray; overflow:hidden; width:100% ; padding-top:3px; text-align:center;}
#subbanner h3 {color:white; font-size:18px; font-weight:bolder; text-align:center; font-family:"Franklin Gothic Medium"; font-style:normal; letter-spacing:1px; }
#subbanner h4 {color:white; font-size:18px; font-weight:bolder; text-align:center; font-family:"Franklin Gothic Medium"; font-style:normal; letter-spacing:1px; }



#content { width:100%; padding:40px 40px 40px 40; margin:0 20 0 20; }
#content h1 { background-color: #f0ffff; padding-top:15px; padding-bottom:20px; padding-left:20px; border-bottom:thin #333333 solid; font-style:normal; font-family:"Franklin Gothic Medium"; letter-spacing:5px; }
#content p { font-family:"Franklin Gothic Book"; font-weight:bolder; font-style:normal; text-align:center; margin-left:20px; font-size:19px; padding:10px 0px; margin-top:0px; margin-bottom:10px; letter-spacing:1px; }
#content ul li {display:inline; }
#content ul li img {width:250px; height:190px; border-right:1px #333333 solid; padding-right:12px; margin-right:12px; } 
#un {width: 50%; margin: 0 auto;}


#footer { clear:both; padding:2px 0px; font-family:"Franklin Gothic Book"; font-size:15px ;font-style:normal; text-align:center; background-image:url('800x518_Vector-Topographic-Map-Contours-Preview-1.jpg') ; background-attachment:fixed; }
#footer p {width:100%; color:#000000; }

