body {background-color:#eeeeee;}

#wrapper { width:900px; margin:0px auto; background-color:#ffffff;}

#top {background-image:url('800x518_Vector-Topographic-Map-Contours-Preview-1.jpg'); background-attachment:fixed; width:100%; padding:20px 0; overflow:hidden; }

#logo { margin:0 0 0 10px; float:left; }

#social-media {float:right; margin:0px 10px 0 0px; }
#social-media p {color: #000000; font-size:11px; font-family:"Franklin Gothic Book"; margin:4px 10px 4px 39px; }
#social-media img { width:25px; height:25px; margin:0px 10px 0 0; }
#social-media ul li { display:inline;}

#social-media a:hover {color:#FFFFFF; display:table-cell; }
#social-media a:active {color:black;  } 

#topnav { background-color:gray; clear:both;}
#topnav ul {width:860.4px; margin:0px; background-color:#B6B6B4; float:left;
				border-bottom:3px #fffffc solid }
								
#topnav ul li {display:inline;}
#topnav ul li a {float:left; padding:10px 20px; }


#topnav a:link {color:black; }
#topnav a:visited {color:black;}
#topnav a:active {color:black;}
#topnav a:hover {color:black;background-image:url('800x518_Vector-Topographic-Map-Contours-Preview-1.jpg'); } 
#topnav a:focus {color:black;}


#jssummary { font-family:"Franklin Gothic Book"; font-weight:lighter; padding-left:45px; padding-right:40px; padding-top:35px; padding-bottom:50px; background-image:url('../images/web image gallery/topo2.png'); background-attachment:fixed; }
#jssummary h1 { padding-top:40px; padding-bottom:50px; font-family:"Franklin Gothic Medium"; font-size:21px; font-weight:900; }
#jssummary h3 { font-family:"Franklin Gothic book"; font-weight:500; font-size:21px; }


#banner { background-image:url('../images/web image gallery/topo2.png'); }

#subbanner { padding-top:20px; padding-bottom:20px; padding-left:110px; background-color:#FEFCFF; background-image:url('../images/web image gallery/topo2.png'); background-attachment:fixed; }

#premier { float:left; width:550px; font-family:"Franklin Gothic Book"; font-weight:lighter; padding-left:120px; }

#un { float:left; width:200px; }

#deux { margin-left:230px; }

#prochain { margin-left:560px; }

#trois { padding-left:5px; }
#trois img {margin-left:5px; padding-right:90px; padding-top:10px; }



#footer { clear:both; padding:2px 0px; font-family:"Franklin Gothic Book"; font-size:15px ;font-style:normal; text-align:center; background-image:url('800x518_Vector-Topographic-Map-Contours-Preview-1.jpg') ; background-attachment:fixed; }
#footer p {width:100%; color:#000000; }












